@model IEnumerable<LoginMvcAssignment1.Models.Visitor>

@{
    ViewBag.Title = "Index";
}
 
<h2>Welcome @Session["UserName"]  @Session["UserId"]. You have successfully logged on.</h2>
<h3>Other users with active sessions in this application

@*<p>
    @Html.ActionLink("Create New", "Login")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpAddress)
        </td>
    </tr>
}
</table>
    @{Html.BeginForm("Index", "Visitor", FormMethod.Post);

        {

         
        <div class="col-md-10">
            <input type="submit" value="logout" class="btn btn-default" />
        </div>
        }
        Html.EndForm();
    }

